.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.comment{
  display: flex;
  margin: 12px;
  padding: 7px;
}

.comment h3{
  margin-right: 5px;
}

.comment button{
  margin-right: 5px;
}