.app {
  border-radius: 10px;
  width: 90%;
  margin: 50px auto;
  position: relative;
  padding: 10px;
  height: 200px;
}

.square {
  border: 1px solid;
  width: 100px;
  height: 100px;
  animation: rotate 5s linear infinite;

  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
}

.square > div {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    left: 0;
  }
  55% {
    transform: rotate(90deg);
    left: 50%;
  }

  100% {
    transform: rotate(180deg);
    left: 90%;
  }
}
