.error-alert{
    text-align: center;
    margin: 5px auto!important;
    /* height: max-content!important; */
    padding: 8px 0;
    /* position: absolute; */
    min-width: 300px;
    /* min-width: max-content; */
    position: relative;
    left: 15%;
    border-radius: 20px;
    background-color: #34495ed2;
    color: #ecf0f1;
}

.error-alert p {
    margin: auto;
}