@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Srisakdi:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", cursive;
  background-color: #f8f8f7;
  position: relative;
  /* font-family: 'Srisakdi', cursive; */
}

.container {
  margin: 30px auto;
  /* border: 5px solid coral; */
  width: 90%;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  height: 100%;
  transition: all 5s ease-in-out;
  
  /* border: 2px solid black; */
}

.card-body {
  border: 3px solid #ea2c62d5;
  border-radius: 10px;
  min-width: 350px;
  margin: 10px 20px;
  background-color: #f4f9f9;
  box-shadow: 2px 2px 2px 2px #ff998c67;
  transition: all 1s ease-in-out;
  animation: cardshow 2s linear;
}

@keyframes cardshow {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0.1;
  }
  36% {
    opacity: 0.4;
  }
  72% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.card-body .header {
  margin: 10px 8px;
  min-height: 80px;
  padding: 12px;
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  border-bottom: 2px solid #8eeb42;
  color: #0f1158;
}

.card-body .footer {
  padding: 8px;
  font-family: "Srisakdi", cursive;
  margin-bottom: 10px;
}

.card-body .footer p {
  color: #5b5b5b;
  font-weight: 800;
}

.card-body:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 1px 1px #f5575780;
  background-color: #ffffff;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  background-color:rgba(255, 255, 255, 0.678);
  /* opacity: 0.8; */
  /* display: none; */
}




.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 400px;
  border: 5px solid #718093;
  border-radius: 12px;
  background: #f5f6fa;
  box-shadow: rgba(8, 8, 224, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: all 2s ease-in;
  animation: modalshow 1s ease-in-out;
}

@keyframes modalshow {
  from {
    opacity: 0.2;
    transform: scale(1.5);
    transform-origin: 50% 50% 0;
    transform-style: preserve-3d;
  }
  to {
    opacity: 1;
  }
}

.modal-content .header {
  margin: 10px 8px;
  min-height: 12rem;
  padding: 12px;
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  border-bottom: 2px solid #487eb0;
  color: #353b48;
  
}

.modal-content .footer {
  padding: 2rem;
  font-size: 2rem;
  font-family: "Srisakdi", cursive;
  margin-bottom: 10px;
}

.btn {
  display: block;
  position: absolute;
  top: 140px;
  right: 20px;
  background: #1e1e1f;
  width: 110px;
  padding: 10px;
  border-style: none;
  border: 3px solid #2f3542;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #f1f2f6;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  outline: none;
  background: #f1f2f6;
  color: #1e1e1f;
  font-size: 1.3rem;
  transform: scale(0.901);
  border-style:groove;
}

.btn-wrapper {
  display: flex;
  width: 80%;
  /* border: 2px solid black; */
  justify-content: space-evenly;
  margin: 12px auto;
}

.btn-wrapper .fetch-btn {
  padding:14px;
  border-style: none;
  border: 2px solid #ccc;
  border-radius: 12px;
  width: 10rem;
  font-size: 18px;
  font-weight: 600;
}

.btn-wrapper .fetch-btn:focus {
  outline: none;
}

.fetch-btn.posts {
  background-color: #bdc3c7;
  color: #34495e;
}

.fetch-btn.posts:hover {
  color: #bdc3c7;
  background-color: #34495e;
}

.fetch-btn.jokes {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.fetch-btn.jokes:hover {
  color: #000807;
  background-color: #b3f3bb;
}

.fetch-btn.users {
  background-color: #212121;
  color: #bebebe;
}

.fetch-btn.users:hover {
  color: #fff;
  background-color: #000807;
  
}

.fetch-btn.hide:hover {
  color: #212121;
  background-color: #bebebe;
}

/** SPINNER CSS STYLING  */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ec4646;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
    
  }
  100% {
    transform: rotate(360deg);
  }
}