@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.signup {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 5% auto 2%;
  text-align: center;
}

.form input {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  min-width: 90%;
  border: 1px solid #999;
  outline: none;
}

.button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1c8adb;
}

.button:hover {
  background-color: #38a5f3;
}

.header {
  color: #1c8adb;
}

.image {
  /* position: absolute; */
  width: 70px;
  margin-top: -50px;
}

.error {
  position: absolute;
  font-size: 11px;
  text-align: left;
  margin-top: -10px;
  margin-left: 20px;
}
