@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=RocknRoll+One&display=swap");

.card {
  border: 2px solid #ea8e8e;
  max-width: 210px;
  min-height: 200px;
  font-size: 14px;
  font-family: "RocknRoll One", sans-serif;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.card:hover {
  background-color: rgba(78, 57, 57, 0.2);
}

.card p {
  margin: 5px 0;
}
