.shop-container {
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
}

.shop-image-container {
    max-height: 250;
    min-height: 250;
    max-width: 300px;
    min-width: 300px;
    border: 2px soild red;
    border-radius: 8px;
    box-shadow: 2px 1px 3px 1px #dadada;
    overflow: hidden;
    transition: all 0.3s ease-in;
    position: relative;
}

.shop-image-container img {
    max-height: 250px;
    min-height: 250px;
    max-width: 300px;
    min-width: 300px;
    z-index: -1;
    object-fit: cover;
    border-radius: 8px;
    padding: 1px;
    transition: all 0.3s ease-in;
}

.shop-image-container:hover {
    transform: translateY(-8px);
}

.shop-image-container:hover img {
    transform: scale(1.2);
}

.delete-on-card {
    cursor: pointer;
    border: none;
}