.comment {
  margin: 20px 0;
  padding: 10px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.comment__descriptions {
  width: 92%;
}

.comment__descriptions__top {
  border: 1px solid lightgray;
  padding: 15px 10px;
  border-radius: 5px;
}

.comment__descriptions__date {
  font-weight: 500;
  color: black;
}

.comment__descriptions__comment {
  font-size: 1.3rem;
  margin: 15px 0;
}

.comment__date {
  font-size: 0.8rem;
  color: gray;
}

.comment__buttons {
  display: flex;
  align-items: center;
}

.comment__buttons p {
  font-size: 0.8rem;
  margin: 0 5px;
  color: gray;
}

.MuiCardHeader-title {
  font-size: 1rem !important;
  color: gray;
  font-weight: 600 !important;
}
.MuiCardHeader-subheader {
  margin: 0 30px !important;
  font-size: 0.8rem !important;
}
.MuiCardHeader-content {
  display: flex;
  align-items: center;
}

.deleteicon {
  cursor: pointer;
  color: rgb(235, 49, 49) !important;
}

.editicon {
  color: rgb(18, 125, 224);
  cursor: pointer;
}

.modal__content {
  background-color: white;
  padding: 20px;
  min-height: 200px;
  width: 30%;
}
.modal__content > h2 {
  text-align: center;
  font-size: 2rem;
}
