.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


button{
  width: 100%;
}


.error{
  color: red;
  font-size: 12px;
}