.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  z-index: 10;
}

#logo {
  font-size: 22px;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
#logo span {
  color: rgba(11, 62, 228, 0.904);
}

.space {
  position: relative;
  margin-top: 60px;
}

.com {
  margin-top: 60px;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  height: 100vh;
  padding: 30px 20px;
}

@media only screen and (max-width: 620px) {
  .navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  #logo {
    padding: 15px 0;
  }

  .com {
    margin-top: 325px;
  }
}
