.form-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 40px auto;
  width: 35%;
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: 5px;
}

.form-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}

input {
  width: 100%;
  outline: none;
  background-color: rgba(131, 127, 127, 0.795);
  border: none;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 10px;
  transition: 0.3s;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.field button:disabled {
  cursor: not-allowed;
  background-color: rgba(20, 20, 20, 0.726);
}

button:hover {
  background-color: aqua;
  color: aliceblue;
}

.error {
  color: rgb(218, 12, 12);
  font-size: 12px;
}

.error-input {
  border: 1px solid red;
  margin: 5px;
}

label {
  color: aliceblue;
}
