.student-info-container {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

.info-container {
  margin: 20px;
  padding: 10px;
  background-color: rgba(135, 220, 226, 0.452);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
}

.info-nabvar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
