.data {
  border: 2px solid black;
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  background-color: darkcyan;
  color: white;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.data:hover {
  transform: scale(1.1);
}
button {
  margin-right: 10px;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: brown;
  color: wheat;
  cursor: pointer;
  transform: scale(1.1);
}
input {
  margin-top: 10px;
  margin-right: 10px;
  width: 150px;
  height: 30px;
  border-radius: 10px;

  outline: none;
}
