.App {
  display: flex;
  flex-direction: column;
}

.nav{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.dark{
  background-color: #101111;
  color: white;
}

.light{
  background-color: white;
  color: #000;
}

