@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.Container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Wrapper {
  width: 280px;
  height: 380px;
  overflow: hidden;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(182, 182, 223, 0.5);
  transition: transform 0.2s ease-in-out;
}

.Wrapper:hover {
  transform: scale(1.08);
  box-shadow: 5px 8px 10px rgba(182, 182, 223, 1);
}

.Wrapper img {
  width: 280px;
  height: 180px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  margin-bottom: 10px;
}

.info {
  padding: 10px;
  margin-bottom: 15px;
}

.info > h2 {
  color: rgb(113, 182, 199);
}

.detail > #name,
#country {
  font-weight: 500;
}

.backDrop {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
}
