@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");


.modal {
  position: absolute;
  background: white;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  height: 350px;
  width: 550px;
}
.userData {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 5%;
}

.userData > img {
  border-radius: 50%;
  width: 200px;
}

.userData > .detail {
  padding-left: 30px;
}

.times {
  height: 40px;
  background: linear-gradient(240deg, rgb(37, 56, 107), rgb(124, 162, 231));
}

.times > i {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}
